html{
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

html, body{
    min-height: 100vh;
}

h1{
    text-align: center;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
    margin-bottom: 50px;
}

.user-interface{
    display: flex;
    flex-direction: column;
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#color-picker{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: black;
}

#color-picker::-webkit-color-swatch{
    border: none;
}

button{
    border-style: solid;
    border-radius: 5%;
}

.buttons{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 20px;
}


.buttons p{
    margin: 0px;
    text-align: center;
  }

  .apply-button{
    margin-top: 5px;
  }

  .erasing::after{
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
  }

  .erasing{
    background-color: white;
  }

@keyframes ellipsis {
    to {
      width: 20px;    
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
/*
* Will display each row on top of each other
*/
.grid{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px; 
}

/*
*Rows will displayed horizontally
*/
.row{
    display: flex;
    flex-grow: 1;
}

.box{
   flex-grow: 1;
}

/**
*Slider
*/
.slider-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }


.slider:hover {
    opacity: 1; 
  }

  /*
  * Slider 'ball'
  */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(80, 77, 77);
    cursor: pointer;
  }

  .grid-error-message{
    font-size: 10px;
    color: red;
    visibility: hidden;
  }

  .rainbow-button-active{
        background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 6s ease-in-out infinite;
        background-size: 400% 100%; 
  }


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

.footer{
    text-align: center;
    background-color: rgb(207, 203, 203);
    width: 100%;
}@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

  a {
    color: inherit; 
    text-decoration: inherit;
  }
  
  a:hover{
    color: grey;
  }